.menu-container {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    background-color: #FFE6A7;

}

.menu-background {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    padding: 2rem;
    font-family: 'whipsmart';

}

.menu {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
    scroll-snap-align: start;
    background-color: #FEF9F0;
    border-radius: 5%;
    margin: 2%;
    padding: 2%;
    user-select: none;
}


.menu h3 {
    color: #432818;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}

.menu h4 {
    color: #e38949;
    margin-bottom: 1.3rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.menu img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
}


.background-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto;
    height: auto;
}

.menu {
    display: flex;
    flex-direction: column;
}

.content-right {
    display: flex;
    flex-direction: column;
}

.content-left {
    display: flex;
    margin: auto;
    padding: auto;
}


.see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.see-more button {
    background-color: white;
    border: wheat 1px solid;
    cursor: pointer;
    padding: 5px;
    border-radius: 20%;
    font-family: 'whipsmart';
}

.see-more button:hover {
    background-color: black;
    color: white;
}

.see-more button h1 {
    font-weight: 900;
    font-size: 2rem;
    font-style: normal;
}