.login-header-container {
    width: 100vw;
    height: 12vh;
    background-color: #D4A276;
    font-family: 'whipsmart';
}

.nav-login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.cc-logo {
    width: 10rem;
}

.nav-middle-crafter ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-middle-crafter ul li {
    font-size: 1.5rem;
    font-weight: 900;

}

.load-coffee-category button {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'whipsmart';
    background-color: #FFE6A7;
    border: none;
    border-radius: 10%;
    padding: 8px;
    cursor: pointer;
}

.unload-coffee-category button {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'whipsmart';
    background-color: #D4A276;
    border: none;
    border-radius: 10%;
    padding: 8px;
    cursor: pointer;

}


.load-tea-category button {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'whipsmart';
    background-color: #FFE6A7;
    border: none;
    border-radius: 10%;
    padding: 8px;
    cursor: pointer;

}

.unload-tea-category button {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'whipsmart';
    background-color: #D4A276;
    border: none;
    border-radius: 10%;
    padding: 8px;
    cursor: pointer;

}

.load-cake-category button {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'whipsmart';
    background-color: #FFE6A7;
    border: none;
    border-radius: 10%;
    padding: 8px;
    cursor: pointer;

}

.unload-cake-category button {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'whipsmart';
    background-color: #D4A276;
    border: none;
    border-radius: 10%;
    padding: 8px;
    cursor: pointer;

}


.nav-right-crafter-login button {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    background-color: #FFEDD8;
    cursor: pointer;
    border-radius: 15%;
    border: #D4A276;
    font-family: 'whipsmart';
    position: relative;

}

.nav-right-crafter-login button:hover {
    background-color: #FFE6A7;
}

.MuiButtonBase-root span {
    position: static;
}

.menu-container {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    background-color: #FFE6A7;

}

.menu-background {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    padding: 2rem;
    font-family: 'whipsmart';

}

.menu {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
    scroll-snap-align: start;
    background-color: #FEF9F0;
    border-radius: 5%;
    margin: 2%;
    padding: 2%;
    user-select: none;
}


.menu h3 {
    color: #432818;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.menu h4 {
    color: #e38949;
    margin-bottom: 1.3rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.menu img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 5%;
}


.background-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto;
    height: auto;
}

.menu {
    display: flex;
    flex-direction: column;
}

.content-right {
    display: flex;
    flex-direction: column;
}

.content-left {
    display: flex;
    margin: auto;
    padding: auto;
}


.see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.see-more button {
    background-color: white;
    border: wheat 1px solid;
    cursor: pointer;
    padding: 5px;
    border-radius: 20%;
    font-family: 'whipsmart';
}

.see-more button:hover {
    background-color: black;
    color: white;
}

.see-more button h1 {
    font-weight: 900;
    font-size: 2rem;
    font-style: normal;
}

.three-button-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.three-button-container button {
    font-family: 'whipsmart';
    margin-right: 0.8rem;
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border-radius: 20%;
    border: #D4A276;
}

.learn-more,
.add-to-cart {
    color: black;
    border: white;
}

.learn-more:hover,
.add-to-cart:hover {
    color: white;
    background-color: black;

}