.buy-menu-popup-container {
    background-color: rgba(250, 235, 215, .5);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    padding: 1rem;
    inset: 0;
    font-family: 'whipsmart';
    overflow-y: auto;
}

.buy-coffee-popup-container {
    background-color: rgba(255, 225, 142, 0.5);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    padding: 1rem;
    inset: 0;
    font-family: 'whipsmart';
    overflow-y: auto;
}

.buy-tea-popup-container {
    background-color: rgba(173, 255, 192, 0.4);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    padding: 1rem;
    inset: 0;
    font-family: 'whipsmart';
    overflow-y: auto;
}

.buy-cake-popup-container {
    background-color: rgba(255, 180, 202, 0.5);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    padding: 1rem;
    inset: 0;
    font-family: 'whipsmart';
    overflow-y: auto;
}

.buy-menu-popup {
    background-color: white;
    width: 50rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    padding-top: 2rem;
    padding-bottom: 4rem;
    position: relative;
}

.cross-icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.cross-icon button {
    background-color: white;
    border: none;
}

.cross-icon button img {
    width: 24px;
    height: 24px;
    -webkit-user-drag: none;
}

.cross-icon button img:hover {
    cursor: pointer;
    widows: none;
}

.cross-icon button img:active {
    width: 20px;
    height: 20px;
}

.menu-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-popup-content h1 {
    color: #6F1D1B;
    font-size: 3rem;
    font-weight: 900;
    user-select: none;
}

.menu-popup-content h3 {
    color: #e38949;
    font-size: 2rem;
    font-weight: 600;
    user-select: none;
}

.menu-popup-content img {
    width: 200px;
    height: 200px;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
    border-radius: 20px;
    -webkit-user-drag: none;
}

.menu-popup-content p {
    width: 30rem;
    color: #432818;
    font-size: 1.2rem;
    user-select: none;
}

.menu-popup-content p span {
    font-weight: 900;
}

.menu-popup-button {
    display: flex;
    gap: 100px;
    position: absolute;
    bottom: 1rem;
}

.coffee-popup-button {
    font-family: 'whipsmart';
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border-radius: 20%;
    border: #D4A276;
    color: black;
    background-color: #f1ce6e;
}

.coffee-popup-button:hover {
    background-color: #ffe291;
}

.tea-popup-button {
    font-family: 'whipsmart';
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border-radius: 20%;
    border: #D4A276;
    color: black;
    background-color: #32de5a;
}

.tea-popup-button:hover {
    background-color: #48fa72;
}

.cake-popup-button {
    font-family: 'whipsmart';
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border-radius: 20%;
    border: #D4A276;
    color: black;
    background-color: #ff8cae;
}

.cake-popup-button:hover {
    background-color: #ffa1bd;
}

