.alert-pop-container {
    width: 100%;
    height: 100%;
    font-family: 'whipsmart';
}

.alert-pop {
    position: absolute;
    top: 120px;
    right: 25px;
    background-color: rgb(255, 230, 171);
    width: 18rem;
    height: auto;
    border-radius: 20px;
    padding: 10px;
}

.alert-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.alert-content h1 {
    color: #561f1f;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    padding: 8px;
}

.alert-content p {
    color: black;
    font-size: 1.2rem;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    height: auto;
    padding: 20px;

}