.cake-menu-background {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    padding: 2rem;
    font-family: 'whipsmart';
}

.cake-menu {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
    scroll-snap-align: start;
    background-color: #FEF9F0;
    border-radius: 5%;
    margin: 2%;
    padding: 2%;
    user-select: none;
}


.cake-menu h3 {
    color: #432818;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.cake-menu h4 {
    color: #e38949;
    margin-bottom: 1.3rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.cake-menu img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 5%;
    -webkit-user-drag: none;
}

.cake-three-button-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.cake-three-button-container button {
    font-family: 'whipsmart';
    margin-right: 0.8rem;
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border-radius: 20%;
    border: #D4A276;
}

.cake-buy-now {
    color: white;
    background-color: #f4618d;
}

.cake-buy-now:hover {
    background-color: #ff82a8;
}

.cake-learn-more,
.cake-add-to-cart {
    color: black;
    border: white;
}

.cake-learn-more:hover,
.cake-add-to-cart:hover {
    color: white;
    background-color: #ff82a8;

}