.buy-menu-container {
    width: 100dvw;
    height: auto;
    background-color: #FFE6A7;
    font-family: 'whipsmart';
    padding: 3rem;
}

.buy-menu-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.buy-menu-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff1cd;
    width: auto;
    height: auto;
    padding: 3rem;
    border-radius: 5%;
}

.buy-menu-name-heading {
    margin-bottom: 1rem;
}

.buy-menu-name-heading h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    color: #6F1D1B;
}

.buy-menu-img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center center;
    image-rendering: auto;
}

.buy-menu-price {
    padding-right: 20rem;
    margin-top: 1rem;
}

.buy-menu-price h2 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    color: #e38949;

}

.buy-menu-description {
    margin-top: 2rem;
    width: 500px;
}

.buy-menu-description p {
    word-wrap: break-word;
    font-style: normal;
    color: #432818;
    font-size: 1.3rem;
    font-style: normal;
}

.buy-menu-buy {
    padding-left: 20rem;
    margin-top: 2rem;
}

.buy-menu-buy button {
    font-family: 'whipsmart';
    background-color: #FFE6A7;
    border: 1px solid chocolate;
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
}

.buy-menu-buy button:hover {
    background-color: #ffcc49;
}

.buy-menu-buy button:active {
    background-color: #ffba0b;
}

.buy-menu-buy button h1 {
    font-size: 1.4rem;
    font-weight: 900;
}