.admin-container {
    width: 100vw;
    height: auto;
    font-family: 'whipsmart';
}

.admin-section {
    display: flex;
    justify-content: space-between;
}

.admin-manage-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ec8679;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 2rem;
}

.arrow-left-toggle-navbar {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 14%;
    width: 5rem;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s ease;
}

.arrow-right-toggle-navbar {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 5rem;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s ease;
}

.navbar-left-admin {
    background-color: #A62934;
    width: 20%;
    height: auto;
}

.manage-menu-container {
    width: 100%;
    height: 100%;
}

.manage-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.manage-menu button:first-child {
    margin-top: 1rem;
}

.manage-menu button {
    background-color: #fa5c47;
    font-family: 'whipsmart';
    padding: 10px;
    border-radius: 50px;
    border: 3px solid red;
    cursor: pointer;
}

.manage-menu button h1 {
    color: black;
    font-size: 1.2rem;
    font-weight: 900;
}

.manage-menu li {
    list-style: square;
    font-size: 1.1rem;
    background-color: #fb7b69;
    padding: 8px;
    border-radius: 30px;
    cursor: pointer;
}

.greeting-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
}

.greeting-content h1 {
    color: black;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 2rem;
}

.greeting-content p {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}