.login-header {
    width: 100vw;
    height: 12vh;
    background-color: #D4A276;
    font-family: 'whipsmart';
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cc-logo {
    width: 10rem;
}

.nav-middle-crafter ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-middle-crafter ul li {
    font-size: 1.5rem;
    font-weight: 900;

}

.load-coffee-category button {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'whipsmart';
    background-color: #FFE6A7;
    border: none;
    border-radius: 10%;
    padding: 8px;
    cursor: pointer;
}

.unload-coffee-category button {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'whipsmart';
    background-color: #D4A276;
    border: none;
    border-radius: 10%;
    padding: 8px;
    cursor: pointer;

}


.load-tea-category button {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'whipsmart';
    background-color: #FFE6A7;
    border: none;
    border-radius: 10%;
    padding: 8px;
    cursor: pointer;

}

.unload-tea-category button {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'whipsmart';
    background-color: #D4A276;
    border: none;
    border-radius: 10%;
    padding: 8px;
    cursor: pointer;

}

.load-cake-category button {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'whipsmart';
    background-color: #FFE6A7;
    border: none;
    border-radius: 10%;
    padding: 8px;
    cursor: pointer;

}

.unload-cake-category button {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'whipsmart';
    background-color: #D4A276;
    border: none;
    border-radius: 10%;
    padding: 8px;
    cursor: pointer;

}


.nav-right-crafter-login button {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    background-color: #FFEDD8;
    cursor: pointer;
    border-radius: 15%;
    border: #D4A276;
    font-family: 'whipsmart';
    position: relative;

}

.nav-right-crafter-login button:hover {
    background-color: #FFE6A7;
}

.MuiButtonBase-root span {
    position: static;
}